# Core
streamlit
pandas
numpy

# Geo & Raster
geopandas
shapely
rasterio
folium
streamlit-folium
pydeck
branca

# ML
lightgbm
scikit-learn
joblib

# Graphs / Routing
networkx
osmnx

# Utilities
requests
tqdm
