# Core
streamlit==1.32.0
pandas
numpy

# Geo & Raster
geopandas
shapely
rasterio
folium
streamlit-folium
pydeck
branca

# ML
lightgbm
scikit-learn==1.5.1
joblib==1.3.1

# Graphs / Routing
networkx
osmnx

# Utilities
requests
tqdm
